<div class="card my-5">
  <div class="card-body">
    <div class="table ">
      <ng-container *ngFor="let jewelry of jewelryList">
        <div class="card shadow align-middle ">
          <div style="font-weight:bold">
            <tr> <img src="{{ jewelry.pathToPic }}" alt="Pictures not found" height="500" width="450"></tr>
            <tr class="text-center">
<!--              <a routerLink="/id" class="btn btn-info">{{ jewelry.name }}</a></tr>-->
              <button class="btn btn-info" (click)="showPageJew(jewelry.id)">{{ jewelry.name }}</button></tr>
            <tr class="text-center">{{ jewelry.price }} р.</tr>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
