<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jewelry Shop</title>
  <!-- Link to CSS stylesheet -->
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
<header>
  <nav>
    <div class = "flex__container">
      <a routerLink="/home"> <h1>Ювелирный магазин</h1></a>
    </div>
  </nav>
</header>
<main>
  <section id="necklaces">
    <h2>Ожерелье</h2>
    <ul>
      <li>
<!--        <img src="/assets/img/necklaces1.jpg" alt="Gold necklace" height="500" width="450">-->
        <img src="https://rest.adamas.ru/img/m/1000/845/46/8454650-01-A50D-432_1.jpg" alt="Gold necklace" height="500" width="450">
        <h3>Золотое ожерелье</h3>
        <h4>2500 р.</h4>
        <button href="#">Купить</button> <button href="#">Забронировать</button>
      </li>
    </ul>
  </section>
</main>
<footer>
  <p>&copy; 2023 Jewelry Shop</p>
</footer>
</body>
</html>
