<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jewelry Shop</title>
  <!-- Link to CSS stylesheet -->
  <link rel="stylesheet" href="home.component2.css">
</head>
<body>
<header>
  <nav>
    <div class = "flex__container">
      <a routerLink="/home"> <h1>Ювелирный магазин</h1></a>
    </div>
  </nav>
</header>
<main>
    <ul>
      <li>
        <img src="https://pngicon.ru/file/uploads/zelenaja-galochka.png" alt="good">
        <h2>Покупка товара - "Золотое ожерелье" успешно оформлена</h2>
        <button>На главную страницу</button>
      </li>
    </ul>
</main>
<footer>
  <p>&copy; 2023 Jewelry Shop</p>
</footer>
</body>
</html>
