<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jewelry Shop</title>
  <!-- Link to CSS stylesheet -->
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
<header>
  <nav>
    <div class = "flex__container">
      <a routerLink="/jewelry"> <h1>Ювелирный магазин</h1></a>
    </div>
    <a routerLink="/auth-reg"><button>Войти/Регистрация</button></a>
    <ul>
      <li><a href="#necklaces">Ожерелья</a></li>
      <li><a href="#earrings">Серьги</a></li>
      <li><a href="#bracelets">Браслеты</a></li>
      <li><a href="#rings">Кольца</a></li>
    </ul>
    <a style="margin-left:45%" routerLink="/addJewelry" class="" >Добавить изделия</a>
  </nav>
</header>
<main>
</main>
<div style="margin-top: 2%" class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
</body>
<footer>
  <p>&copy; 2023 Jewelry Shop</p>
</footer>
</html>



